@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');
* {
  box-sizing: border-box;
  
}

body {
  font-family: 'Roboto', sans-serif; 
  background-color: transparent;
}
.salmon {
  height: 250px;
  width: 250px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
